/* -- CONFIGURAÇÒES GLOBAIS  -- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

nav,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

p {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;
}

caption {
  font-size: 12px;
}

a {
  text-decoration: none;
  text-decoration: underline;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}


button {
  border: none;
  outline: none;
  box-shadow: none;
  display: block;
  padding: 0;
}

input,
textarea {
  outline: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

strong {
  margin: 10px;
}

span {
  font-size: 18px;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* FIM CONFIGURAÇÕES GLOBAIS */

/* TELA 2 - ESCOLHA REGIÃO */



/* / FIM TELA 2 - ESCOLHA PAÍS */

/* -- FOOTER RESPONSIVO  -- */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-master {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
}

.be-flex {
  display: flex;

}

.space-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

/* --   -- */

/* -- TELA 3 - REGIÃO E ESTILOS PRINCIPAIS  -- */

.top_nav {
  background-color: #1E2E44;
  height: 10%;
  width: 100%;
  justify-content: space-around;

}

.logo {
  margin-bottom: 40px;
  margin-top: 10px;
}

.b_nav {
  background-color: rgb(185, 185, 185);
  height: 1%;
  width: 100%;
}

.div-campo {
  width: 100%;
  background-color: #1E2E44;
}

.campo {
  border-radius: 60px;
  padding: 10px;
  background-color: #FFFFFF;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

.campo-regioes {
  padding: 10px;
  background-color: #f5f5f5;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

.campo-regioes:hover {
  background-color: #4AA654;
  transition: 0.5s ease;
  cursor: pointer;
}

.campo-regioes a {
  color: #000000;
  text-decoration: none;
}

.campo-regioes a:visited {
  color: #000000;
  text-decoration: none;
}

.container-mid {
  background-color: #EFF1F5;
  width: 100%;
  height: 35%;
}

.container-mid-reg {
  background-color: #EFF1F5;
  width: 100%;
  height: 80%;
}

.container-mid h1 {
  text-align: center;
  bottom: 40px;
}

.menufooter {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.dinheiro {
  font-size: 30px;
}

.texto-azul {
  font-size: 14px;
  font-weight: bold;
  color: #08B8E3;
}

.texto-roxo {
  font-size: 14px;
  font-weight: bold;
  color: #8B34C1
}

.mid-box {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 5px;
}

.mid-1 {
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}


.mid-1 p {
  color: #1E2E44;
  font-size: 12px;
  margin-bottom: 5px;
}

.mid-1 .selected {
  border-bottom: 3px solid;
  border-color: #08B8E3;
  margin-left: 100px;
  margin-right: 100px;
}

.mid-2 {
  justify-content: center;
  text-align: center;
}

.mid-2 h3 {
  font-weight: normal;
  color: #1E2E44;
}

.valor {
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.valor p {
  justify-content: center;
  font-size: 18px;
  padding-top: 6px;
  margin-bottom: 20px;
}



.footer-1 p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1E2E44;
}

/* SELEÇÃO ESTADOS */
.seletor-regiao {
  margin-top: 20px;
  justify-content: center;
}

.seletor-regiao .caption {
  font-size: 12px;
  color: #1E2E44;
}

.seleciona-regiao {
  font-weight: bold;
  justify-items: center;
  color: #1E2E44;
  justify-content: space-around;
}

.seleciona-regiao h3 {
  font-size: 16px;
  font-weight: bold;
  color: #1E2E44;
}

.selected {
  border-bottom: 4px solid;
  border-color: #08B8E3;
  padding-right: 15%;
  padding-left: 15%;
}

.unselected {
  border-bottom: 4px solid;
  border-color: #C8C8C8;
  padding-right: 12%;
  padding-left: 12%;
}

.redline {
  border-bottom: 6px solid #C44628;
}

.container-mid-2 {
  background-color: #FFFFFF;
  width: 100%;
  height: 60%;
  margin-bottom: 60px;
}


footer {
  justify-content: space-around;
  background-color: #1E2E44;
  align-content: center;
}

.footer img {
  justify-content: center;
  align-content: center;
}


.menu-footer img {
  margin-left: 5px;
  margin-top: 22px;
  margin-bottom: 8px;
}

.menu-footer p {
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 16px;
}


footer p {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #1E2E44;
}

.menu-footer .img-busca {
  margin-bottom: 2px;
}

.menu-footer .img-acoes {
  margin-top: 17px;
  margin-bottom: 9px;
}

.menu-footer .img-exportar {
  margin-left: 15px;
  margin-bottom: 5px;
}

footer .a:visited {
  color: #1E2E44;
}

footer a {
  text-decoration: none;
}

/* FIM TELA 3 REGIÃO */
/* -- FOOTER  -- */

/* --   -- */



/****** -- RESPONSIVO  -- ******/

/***** TABLET *****/
@media screen and (max-width: 768px) {

  /* -- SESSAO INICIO RESPONSIVO  -- */
  /* .inicio {} */

  /* --   -- */

  /* -- SESSÃO SOLUÇÕES RESPONSIVO  -- */


  /* --   -- */

  /* -- SESSÃO EQUIPE RESPONSIVO  -- */


  /* --   -- */


  /* -- SESSAO TRAMPOS RESPONSIVO  -- */


  /* -- SESSÃO CLIENTES RESPONSIVO -- */

  /* --   -- */

  /* -- FOOTER RESPONSIVO  -- */

  /* --   -- */

}



/* --   -- */